<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Интеграция Calltracking и AmoCRM</title>
</head>
<body>
    <p>Система интеграции Calltracking и AmoCRM.</p>
    <p><a href="https://calltracking.ru/">Calltracking.ru</a></p>
    <p><a href="http://www.amocrm.ru/">AmoCRM.ru</a></p>


    <table>
        <!--@thymesVar id="calls" type="com.callsintegration.dmodel.Call"-->
        <!--tr th:each="call : ${calls}">
            <td th:text="${call.number}" />
            <td th:text="${call.dt}" />
            <td th:text="${call.source}" />
            <td th:text="${call.status}" />
            <td th:text="${call.params}" />
        </tr-->
     </table>
</body>
</html>